<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514278395928-9i3o7358m23uv0nhphdmqu0icn1b1c23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514278395928-9i3o7358m23uv0nhphdmqu0icn1b1c23</string>
	<key>API_KEY</key>
	<string>AIzaSyBScP2KCymQ-vSQaYlyOJIOSdUhlTcB_SA</string>
	<key>GCM_SENDER_ID</key>
	<string>514278395928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mdc100Series</string>
	<key>PROJECT_ID</key>
	<string>mad-final2</string>
	<key>STORAGE_BUCKET</key>
	<string>mad-final2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514278395928:ios:04ddce662175e7f38d336d</string>
</dict>
</plist>